In [2]:
# Import the NumPy Financial Library, pathlib and csv library
import numpy_financial as npf
from pathlib import Path
import csv
import pandas as pd

In [3]:
# Check the current directory
print(Path.cwd())

/Users/moniqueferguson/Desktop/Miami/FinTech/MiamiHomework/Python_Homework/PyBank

In [4]:
# Set the input file
filepath = Path("Resources/budget_data.csv")

In [5]:
# Read the CSV into a DataFrame using Pandas
pybank_df = pd.read_csv(filepath)
pybank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
# Read Columns
pybank_df.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [7]:
# Find the total number of months
total_months = len(pybank_df)
total_months

86

In [8]:
# Find the sum of profits and losses
total_profits_losses = pybank_df['Profit/Losses'].sum() 
total_profits_losses

38382578

In [10]:
#initialize a list for average change
average_change = []

# Loop over every item to determine difference between each date
for item in range(1,len(pybank_df)):
    average_change.append(pybank_df['Profit/Losses'][item] - pybank_df['Profit/Losses'][item-1])

# Calculate the average change of profits and losses
average_profits_losses = round(sum(average_change)/len(average_change), 2)
average_profits_losses

-2315.12

In [11]:
#greatest increase
greatest_increase = max(average_change)
greatest_increase

1926159

In [15]:
# date of increase
greatest_increase_date = str(pybank_df['Date'][average_change.index(max(average_change))+1])
greatest_increase_date

'Feb-2012'

In [21]:
# Greatest increase in profits (date and amount)
greatest_increase = max(average_change)
greatest_increase_date = str(pybank_df['Date'][average_change.index(max(average_change))+1])
greatest_increase_profits = f"{greatest_increase_date} ${greatest_increase}"
greatest_increase_profits

'Feb-2012 $1926159'

In [22]:
#greatest decrease
greatest_decrease = min(average_change)
greatest_decrease

-2196167

In [23]:
# date of greatest decrease
greatest_decrease_date = str(pybank_df['Date'][average_change.index(min(average_change))+1])
greatest_decrease_date

'Sep-2013'

In [24]:
# Greatest decrease in profits (date and amount)
greatest_decrease = min(average_change)
greatest_decrease_date = str(pybank_df['Date'][average_change.index(min(average_change))+1])
greatest_decrease_profits = f"{greatest_decrease_date} ${greatest_decrease}"
greatest_decrease_profits

'Sep-2013 $-2196167'

In [18]:
pybank_df.nlargest(1, ['Profit/Losses'])

        Date  Profit/Losses
25  Feb-2012        1170593

pybank_df.nsmallest(1, ['Profit/Losses'])

In [25]:
pybank_df.nsmallest(1, ['Profit/Losses'])

        Date  Profit/Losses
44  Sep-2013       -1196225

In [26]:
# Print the analysis
print('Financial Analysis')
print('_____________________________')
print(f"Total Months: {total_months}")
print(f"Total: ${total_profits_losses}")
print(f"Average Change: ${average_profits_losses}")
print(f"Greatest Increase in Profits: {greatest_increase_profits}")
print(f"Greatest Decrease in Profits: {greatest_decrease_profits}")

Financial Analysis
_____________________________
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $1926159
Greatest Decrease in Profits: Sep-2013 $-2196167