In [1]:
# Import the NumPy Financial Library, pathlib and csv library
import numpy_financial as npf
from pathlib import Path
import csv
import pandas as pd

In [2]:
# Check the current directory
print(Path.cwd())

/Users/moniqueferguson/Desktop/Miami/FinTech/MiamiHomework/Python_Homework/PyBank

In [3]:
# Set the input file
filepath = Path("Resources/budget_data.csv")

In [4]:
# Read the CSV into a DataFrame using Pandas
pybank_df = pd.read_csv(filepath)
pybank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
# Read Columns
pybank_df.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [6]:
# Find the total number of months
total_months = len(pybank_df)
total_months

86

In [7]:
# Find the sum of profits and losses
total_profits_losses = pybank_df['Profit/Losses'].sum() 
total_profits_losses

38382578

In [12]:
# data['MA10'] = data['Close'].rolling(10).mean()
MA_df = pybank_df['Profit/Losses'].mean()
MA_df

446309.0465116279

In [15]:
#initialize a list for average change
average_change = []

# Loop over every item to determine difference between each date
for item in range(1,len(pybank_df)):
    average_change.append(pybank_df['Profit/Losses'][item] - pybank_df['Profit/Losses'][item-1])

# Calculate the average change of profits and losses
average_profits_losses = round(sum(average_change)/len(average_change), 2)
average_profits_losses

-2315.12