In [1]:
# Initial imports (numpy, pathlib, csv, and pandas)
import numpy_financial as npf
from pathlib import Path
import csv
import pandas as pd

In [2]:
# Check the current directory
print(Path.cwd())

/Users/moniqueferguson/Desktop/Miami/FinTech/MiamiHomework/Python_Homework/PyRamen

In [3]:
# Set the input file
filepath_menu = Path("Resources/menu_data.csv")
filepath_sales = Path("Resources/sales_data.csv")

In [4]:
#Initialize list objects for menu and sales data
menu = []
sales = []

In [5]:
# Read the CSV into a DataFrame using Pandas
menu_df = pd.read_csv(filepath_menu)
menu_df.head()

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [6]:
# Read Columns
menu_df.columns

Index(['item', 'category', 'description', 'price', 'cost'], dtype='object')

In [7]:
# Read menu data into the menu list
with open(filepath_menu, 'r') as menufile:
    menu_reader = csv.reader(menufile, delimiter = ',')
    
# Next function used to skip header
    header = next(menu_reader)
        
#Menu list appended
    for row in menu_reader:
        menu.append(row)

In [8]:
# Read the CSV into a DataFrame using Pandas
sales_df = pd.read_csv(filepath_sales)
sales_df.head()

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen

In [9]:
sales_df.columns

Index(['Line_Item_ID', 'Date', 'Credit_Card_Number', 'Quantity', 'Menu_Item'], dtype='object')

In [10]:
# Read sales data into the sales list
with open(filepath_sales, 'r') as salesfile:
    sales_reader = csv.reader(salesfile, delimiter = ',')
    
# Next function used to skip header
    header = next(sales_reader)
    
#Sales list appended
    for row in sales_reader:
        sales.append(row)

In [11]:
# Initialize empty report dictionary
report = {}

In [12]:
# Loop over every row in the sales list
for item in sales:
    sales_item = item[4] 
    quantity = item[3]

    if sales_item not in report:
        report[sales_item] = {
            "01-count": 0, 
            "02-revenue": 0, 
            "03-cogs": 0, 
            "04-profit": 0
        }
    else:
        continue 

print(report)

{'spicy miso ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'tori paitan ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'truffle butter ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'tonkotsu ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'vegetarian spicy miso': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'shio ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'miso crab ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'nagomi shoyu': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'soft-shell miso crab ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'burnt garlic tonkotsu ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}, 'vegetarian curry + king trumpet mushroom ramen': {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}}

In [13]:
# Calculate count, revenue, cogs, and profit
for item in sales:
    sales_item = item[4]
    quantity = item[3]
    
    for menu_row in menu:
        menu_item = menu_row[0]
        menu_price = menu_row[3]
        menu_cost = menu_row[4]
        
        if sales_item == menu_item:
            report[menu_item]["01-count"] += int(quantity)
            report[menu_item]["02-revenue"] += (int(menu_price) * int(quantity))
            report[menu_item]["03-cogs"] += (int(menu_cost) * int(quantity))
            report[menu_item]["04-profit"] += ((int(menu_price)- int(menu_cost)) * int(quantity))
        else:
            sales_item != menu_item
            continue

In [14]:
for key, value in report.items():
    print(key, value)

spicy miso ramen {'01-count': 9238, '02-revenue': 110856, '03-cogs': 46190, '04-profit': 64666}
tori paitan ramen {'01-count': 9156, '02-revenue': 119028, '03-cogs': 54936, '04-profit': 64092}
truffle butter ramen {'01-count': 8982, '02-revenue': 125748, '03-cogs': 62874, '04-profit': 62874}
tonkotsu ramen {'01-count': 9288, '02-revenue': 120744, '03-cogs': 55728, '04-profit': 65016}
vegetarian spicy miso {'01-count': 9216, '02-revenue': 110592, '03-cogs': 46080, '04-profit': 64512}
shio ramen {'01-count': 9180, '02-revenue': 100980, '03-cogs': 45900, '04-profit': 55080}
miso crab ramen {'01-count': 8890, '02-revenue': 106680, '03-cogs': 53340, '04-profit': 53340}
nagomi shoyu {'01-count': 9132, '02-revenue': 100452, '03-cogs': 45660, '04-profit': 54792}
soft-shell miso crab ramen {'01-count': 9130, '02-revenue': 127820, '03-cogs': 63910, '04-profit': 63910}
burnt garlic tonkotsu ramen {'01-count': 9070, '02-revenue': 126980, '03-cogs': 54420, '04-profit': 72560}
vegetarian curry + king trumpet mushroom ramen {'01-count': 8824, '02-revenue': 114712, '03-cogs': 61768, '04-profit': 52944}